body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}

.weather-info p {
    margin: 10px 0;
}

.week-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.day-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.day-container h2 {
    margin-bottom: 10px;
}

.day-container img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
